@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Noto Sans", serif;
}

:root {
  /* Colors: */
  --green-1: #caffb7;
  --blue-1: #3fbbf7;
  --black: #000000;
  --white: #ffffff;
  --grey-2: #707070;
  --blue-3: #1d58d0;
  --blue-2: #2376dd;
  --grey-3: #767676;
  --grey-1: #e5e5e5;
  --grey-4: #f9f9f9;
  --green-3: #6cc44d;
  --purple-1: #bdb0fd;
  --purple-3: #8571f6;
  --purple-2: #a494fc;
  --green-2: #92e076;

  /* Font/text values */
  --unnamed-font-family-noto-sans: Noto Sans;
  --unnamed-font-style-regular: Regular;
  --unnamed-font-style-bold: Bold;
  --unnamed-font-style-italic: Italic;
  --unnamed-font-style-bold-italic: Bold Italic;
  --unnamed-font-size-12: 12px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-18: 18px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-36: 36px;
}

/* Character Styles */
.body-1-noto-sans-black {
  font-family: var(--unnamed-font-family-noto-sans);
  font-style: var(--unnamed-font-style-regular);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--black);
}
.body-1-noto-sans-white {
  font-family: var(--unnamed-font-family-noto-sans);
  font-style: var(--unnamed-font-style-regular);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
}
.heading-3-noto-sans-black {
  font-family: var(--unnamed-font-family-noto-sans);
  font-style: var(--unnamed-font-style-bold);
  font-size: var(--unnamed-font-size-12);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--black);
}
.heading-3-noto-sans-white {
  font-family: var(--unnamed-font-family-noto-sans);
  font-style: var(--unnamed-font-style-bold);
  font-size: var(--unnamed-font-size-12);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
}
.heading-2-body-2-noto-sans-black {
  font-family: var(--unnamed-font-family-noto-sans);
  font-style: var(--unnamed-font-style-bold);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--black);
}
.heading-2-noto-sans-white {
  font-family: var(--unnamed-font-family-noto-sans);
  font-style: var(--unnamed-font-style-bold);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
}
.heading-1-noto-sans-black {
  font-family: var(--unnamed-font-family-noto-sans);
  font-style: var(--unnamed-font-style-bold);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--black);
}
.heading-1-noto-sans-white {
  font-family: var(--unnamed-font-family-noto-sans);
  font-style: var(--unnamed-font-style-bold);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
}
.body-3-noto-sans-black {
  font-family: var(--unnamed-font-family-noto-sans);
  font-style: var(--unnamed-font-style-italic);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--black);
}
.body-3-noto-sans-white {
  font-family: var(--unnamed-font-family-noto-sans);
  font-style: var(--unnamed-font-style-italic);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
}
.body-4-noto-sans-black {
  font-family: var(--unnamed-font-family-noto-sans);
  font-style: var(--unnamed-font-style-bold-italic);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--black);
}
.body-4-noto-sans-white {
  font-family: var(--unnamed-font-family-noto-sans);
  font-style: var(--unnamed-font-style-bold-italic);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
}
